<div class="message">
  <strong><%= sector.user.email %></strong> says <i>(in <%= sector.role.name %>)</i>:
  <%= sector.post %>
  <br>
  <small>at <%= l sector.created_at, format: :short %></small>
  <hr>
</div>