<h5> Welcome, Pick A Role To Get Started </h5>

<div class="role">
  <div class="box square"> <a href="#">Mentor</a></div>  
  <div class="square"><a href="#">Investor</a></div> 
  <div class="linebreak" />
  <div class="box square"><a href="#">Corporate</a></div> 
  <div class="square"><a href="#">Founder</a></div>
  <div class="linebreak" /></div>
</div>

<%= link_to "Sign in", new_user_registration_path , :class=> "btn btn-dark btn-sm sigin" %> 

<h5> Who We Are </h5>

<p> The Ivycamp team collectively brings an experienced investment background , experence working in tech organizations in India and  US, strong ties in alumni communities , startup experience and a passion for adding value in our startup ecosystem.</p>
    