<nav class="navbar navbar-light ">
    <%= image_tag "logo.png" , :size => "150x80" %>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Programs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Service</a>
    </li>
    <form class="form-inline">
      <% if user_signed_in? %>
         <%= link_to "Logout",  destroy_user_session_path ,method: :delete, :class=> "btn btn-sm btn-outline-secondary" %>
      <%else %>
        <%= link_to "Login", new_user_session_path , :class=> "btn btn-sm btn-outline-secondary" %>
      <%end%>
    </form>
  </ul>
</nav>